.h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-family: 'Actor', sans-serif;
}
.h6 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-family: 'Actor', sans-serif;
}
.text-error {
  font-weight: 700;
  font-size: 13px;
  font-family: 'Actor', sans-serif;
  color: #db5945;
  margin-top: 10px;
}