.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.empty {
  h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    color: #c9d1d9;
  }
}